# MacOS DS_Store files
.DS_Store

# Gradle cache folder
.gradle

# Gradle build folder
build/

# Eclipse / VS Code build outputs and configs
bin/
.vscode/
.classpath
.project
.settings/

# IntelliJ
out/
.idea/
*.iml
.idea_modules/

# Logs
*.log
hs_err_pid*

# Common working directory
run/

